Wallies_World_AI_Assistant.json
{
  "name": "Wallies World AI Assistant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -120
      ],
      "id": "5ae65c3b-b25c-4ba6-8728-0e137554a2fc",
      "name": "Telegram Trigger",
      "webhookId": "a412a1e3-0a9c-47f6-9485-a491434e2626",
      "credentials": {
        "telegramApi": {
          "id": "gfgzvdvWQYCjIZbU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        100,
        -120
      ],
      "id": "e95861f1-338a-47bb-a32c-0cee52808dec",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d887f025-18ea-47bb-810f-21939ce38616",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        -120
      ],
      "id": "e03f9a2e-a4f9-4078-9db3-d3eb3f4fb9a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Je bent een behulpzame assistent. \nJe hebt toegang tot gmail send tool, waar mee je emails kan opsturen.\nJe hebt toegang tot de google calender waarnee je events kan toevoegen en events kan bekijken en benoemen.\ngebruik de calendar create event om nieuwe events in google calendar te plaatsen. Vandaag is de datum {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        440,
        -120
      ],
      "id": "e16c80c3-e164-45db-8f23-5c10a4107d57",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        380,
        60
      ],
      "id": "b16999de-7539-4906-95ff-202c89ba47f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qkZPrPsAN4oq8Td6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        -120
      ],
      "id": "15d41c23-82ad-448a-8a3b-435d35299c9c",
      "name": "Telegram",
      "webhookId": "342b9f85-fab7-4160-8da4-8ed0cf984a3d",
      "credentials": {
        "telegramApi": {
          "id": "gfgzvdvWQYCjIZbU",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"to\", \"e-mailadres van de ontvanger\") }}",
        "subject": "={{ $fromAI(\"onderwerp\" , \"duidelijke en beknopte onderwerpregel\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"body\" , \"de body van de e-mail zelf\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        460,
        240
      ],
      "id": "21f7b857-4649-45fe-9113-52579c5924a7",
      "name": "Gmail",
      "webhookId": "170d63ec-245f-44c9-9ac2-19e897d2d4b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "U5ZNkhihanZfGqOR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "gertjewallie3@gmail.com",
          "mode": "list",
          "cachedResultName": "gertjewallie3@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        600,
        240
      ],
      "id": "5cb11e87-7574-4acb-94c7-01da33528710",
      "name": "Google Calendar Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJhUz8kPuxoMrnb5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gertjewallie3@gmail.com",
          "mode": "list",
          "cachedResultName": "gertjewallie3@gmail.com"
        },
        "start": "={{ $fromAI(\"start\", \"datum en tijd wanneer de event moet starten\") }}",
        "end": "={{ $fromAI(\"einde\", \"datum en tijd wanneer de event moet eindigen\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"titel\", \"de titel van de event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        760,
        240
      ],
      "id": "66e618db-7b12-46a7-adf8-30392d47ff65",
      "name": "Google Calendar Create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJhUz8kPuxoMrnb5",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01523560-bd6b-47e1-9e56-1b86ba418a95",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ce86a6ae65d3692e7305e2c58ac62eebd97d3d943e093f577da25c36988246b"
  },
  "id": "TJdXNFUoDO7y36lZ",
  "tags": []
}